<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>203BDE51295CDF7F00C3D650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>203BDE7E295E161C00C3D650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20A4BAAC295B3C9300778F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
